@use "../../scss/variables.scss" as *;

.banner {
    position: relative;
    background-position: center;
    background-size: cover;
    background-image: url(/public/banner-background.png);
    min-height: 150px;
    border-radius: 2rem;
    display: grid;
    place-items: center;
    color: white;
    margin-bottom: 2rem;
    min-width: 100%;
    &::before {
        content: "";
        position: absolute;
        inset: 0;
        background-color: rgba(0, 0, 0, 0.5);
        border-radius: 2rem;
        z-index: 1;
    }
}
.Title__banner {
    font-size: 44px;
    position: relative;
    z-index: 2;
}

@media screen and (width <= 768px) {
    .banner {
        padding-inline: 2.5rem;
        max-width: 90vw;
        display: flex;
        width: 298px;
        height: 150px;
    }
    .Title__banner {
        font-size: 24px;
        width: 230px;
        left: 5.6%;
        position: absolute;
    } 
}





