@use "../../scss/variables.scss" as *;

.error-page {
    color: $color-primary;
    text-align: center;
    margin-bottom: 6rem;
    margin-top: -6rem;
    h1 {
        font-size: 15rem;
        margin-bottom: 6.3rem;
    }
    h2 {
        font-size: 28px;
        font-weight: 600;
    }
    a {
        color: $footer-background-color;
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
    }
}
