@use "../../scss/variables.scss" as *;

.navbar {
    display: flex;
    align-items: center;
    padding: 0 2rem;
    font-weight: 500;
    gap: 2rem;
    padding-inline: 15rem;
    @media screen and (width <= 768px) {
        text-transform: uppercase;
    }

    & > *:first-child {
        margin-right: auto;
    }

    & a {
        text-decoration: none;
        color:$footer-background-color;
        &.active,
        &:hover  {
            text-decoration: underline;
        }
    }
}


