@use "../../scss/variables.scss" as *;

.navbar {
    display: flex;
    align-items: center;
    padding: 8px 2rem;
    font-weight: 500;
    gap: 2rem;
    padding-inline: 20rem;
    justify-content: center;
    white-space: nowrap;
    @media screen and (width <= 768px) {
        padding-inline: 10px;
        gap: 3rem;
        white-space: nowrap;
    }

    & > *:first-child {
        margin-right: auto;
    }

    & a {
        text-decoration: none;
        color:$footer-background-color;
        &.active,
        &:hover  {
            text-decoration: underline;
        }
    }
}


