@use "../../scss/variables.scss" as *;

.footer {
    background-color: $footer-background-color;
    color: $color-tertiary;
    padding: 60px;
    min-height: 100px;
}
.footer__logo {
    text-align: center;
}
.footer__text {
    text-align: center;
}
    
