@use "../../scss/variables.scss" as *;

.about_banner {
    position: relative;
    background-position: center;
    background-size: cover;
    padding-inline: 2rem;
    background-image: url("/public/about-background.png");
    min-height: 250px;
    margin: auto;
    border-radius: 2rem;
    display: grid;
    place-items: center;
    color: $color-tertiary;
    margin-bottom: 2rem;
    max-width: 80vw;
    &::before {
        position: absolute;
        border-radius: 2rem;
        content: "";
        inset: 0;
        opacity: 0.5;
    }
}